/.settings/
/bin/
/target/
/.classpath
/.project
/.idea/
/*.iml
/plugins/
/scripts/
/worlds/
/players/
/server.properties
/redstonelamp.yml
/logs/
/log4j2.xml
/banned-players.txt
/banned-ips.txt
/players.dat
/runtime/
dependency-reduced-pom.xml

